HOST=0.0.0.0
PORT=3000
PGHOST=localhost
PGPORT=5432
PGDATABASE=mktmood
PGUSER=mktmood_user
PGPASSWORD=replace_me
PGSCHEMA=mktmood
PGSSL=false
YAHOO_BASE_URLS=https://query1.finance.yahoo.com,https://query2.finance.yahoo.com
